@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
:root {
   
    /*Colors*/

    /*Primary*/
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /*Primary*/
    /*Neutral*/

    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    /*Neutral*/
    /*Colors*/
    /*fonts*/
    --outfit:'Outfit', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--mainBG);
}

.container {
    width: 21.875rem;
    height:auto;
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cardBG);
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-tile {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-eth {
    width: 18.75rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.img-eth-view{
   background-color: var(--Cyan);
   width: 18.75rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: -18.75rem;
    opacity: 0;
    transition: all;
   transition-duration: 1s;
}   
.img-eth-view:hover{
   opacity: 0.5;
   transition: all;
   transition-duration: 1s;
}

.title {
    width: 17.5rem;
    color: var(--White);
    font-family: var(--outfit);
    font-weight: 400;
    font-size: 1.6pc;
    transition: all;
    transition-duration: 1s;
}
.title:hover {
    transition: all;
    transition-duration: 1s;
    color: var(--Cyan);
    
}

.pharagraf {
    width: 17.5rem;
    color: var(--Softblue);
    font-family: var(--outfit);
    font-weight: 300;
    font-size: 18px;
}

.container-eth {
    width: 17.5rem;
    display: flex;
    justify-content: space-between;
}

.eth  {
    display: flex;
    justify-content: start;
    align-items: center;
    
    color: var(--Cyan);
}
.eth > img {
    display: flex;
    justify-content: start;
    align-items: center;
margin-top: -0.25rem;
margin-right:0.313rem;
    color: var(--Cyan);
}

.days {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--outfit);
    font-weight: 300;
    color: var(--Softblue);
}
.days > img{
    display: flex;
    justify-content: start;
    align-items: center;
   
    margin-right:0.313rem;
    color: var(--Softblue);
}

.line {
    width: 17.5rem;
    color: var(--line);
}

.container-avatar {
    width: 17.5rem;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;

}

.avatar {
    width: 1.875rem;
    height: 1.875rem;
    margin: 0.25rem 0.5rem;
    border: 1px solid var(--White);
    border-radius: 50%;
}

.creation {
    color: var(--Softblue);
}

.j {
    font-family: var(--outfit);
    font-weight: 300;
    color: var(--White);
    margin: 0rem 1,25rem;
    transition: all;
    transition-duration: 1s;
}
.j:hover{
    transition: all;
    transition-duration: 1s;
    color: var(--Cyan);
}

.attribution , a{
    margin: 1.5rem 0rem;
    font-family:'Itim', cursive;;
    font-weight: 300;
    color: var(--White);
    text-decoration: none;

}
.attribution > a{
    text-align: center;
    font-family:'Itim', cursive;;
    font-weight: 300;
    color: var(--Softblue);
    

}
.attribution > a:hover{
    
    font-family:'Itim', cursive;;
    font-weight: 300;
    color: var(--Softblue);
    text-decoration:underline;
    

}
@media only screen and (max-width:600px){
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--mainBG);
    }
    
    .container {
        width: 17.875rem;
        height:28rem;
        display: flex;
        padding: 20px 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--cardBG);
        border-radius: 10px;
    }
    
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .container-tile {
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .img-eth {
        width: 15.75rem;
        height: 15.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
    }
    .img-eth-view{
       background-color: var(--Cyan);
       width: 15.75rem;
        height: 15.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        margin-top: -15.75rem;
        opacity: 0;
        transition: all;
       transition-duration: 1s;
    }   
    .img-eth-view:hover{
       opacity: 0.5;
       transition: all;
       transition-duration: 1s;
    }
    
    .title {
        width: 15.5rem;
        color: var(--White);
        font-family: var(--outfit);
        font-weight: 400;
        font-size: 1.3pc;
        transition: all;
        transition-duration: 1s;
    }
    .title:hover {
        transition: all;
        transition-duration: 1s;
        color: var(--Cyan);
        
    }
    
    .pharagraf {
        width: 15.5rem;
        color: var(--Softblue);
        font-family: var(--outfit);
        font-weight: 300;
        font-size: 0.8pc;
    }
    
    .container-eth {
        width: 15.5rem;
        display: flex;
        justify-content: space-between;
    }
    
    .eth  {
        display: flex;
        justify-content: start;
        align-items: center;
        
        color: var(--Cyan);
    }
    .eth > img {
        display: flex;
        justify-content: start;
        align-items: center;
    margin-top: -0.25rem;
    margin-right:0.313rem;
        color: var(--Cyan);
    }
    
    .days {
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: var(--outfit);
        font-weight: 300;
        color: var(--Softblue);
    }
    .days > img{
        display: flex;
        justify-content: start;
        align-items: center;
       
        margin-right:0.313rem;
        color: var(--Softblue);
    }
    
    .line {
        width: 15.5rem;
        color: var(--line);
    }
    
    .container-avatar {
        width: 15.5rem;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: center;
    
    }
    
    .avatar {
        width: 1.875rem;
        height: 1.875rem;
        margin: 0.25rem 0.5rem;
        border: 1px solid var(--White);
        border-radius: 50%;
    }
    
    .creation {
        color: var(--Softblue);
    }
    
    .j {
        font-family: var(--outfit);
        font-weight: 300;
        color: var(--White);
        margin: 0rem 1,25rem;
        transition: all;
        transition-duration: 1s;
    }
    .j:hover{
        transition: all;
        transition-duration: 1s;
        color: var(--Cyan);
    }
    .attribution{
        width: 16rem;
        height: auto;
        text-align: center;
    }
    .attribution , a{
        margin: 1.5rem 0rem;
        font-family:'Itim', cursive;;
        font-weight: 300;
        color: var(--White);
        text-decoration: none;
    
    }
    .attribution > a{
        text-align: center;
        font-family:'Itim', cursive;;
        font-weight: 300;
        color: var(--Softblue);
        
    
    }
    .attribution > a:hover{
        
        font-family:'Itim', cursive;;
        font-weight: 300;
        color: var(--Softblue);
        text-decoration:underline;
        
    
    }
}